@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

*, *::before, *::after {
box-sizing: border-box;
}

.hidden {
  display: none;
}

.header-popup-container {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100%;
  background-color: #ffffff;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: black;
  text-align: center;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: none;
  
  cursor: pointer;
}

.title-section, .title-page {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: black;
}

/*header*/
.header {
  width: 1160px;/*временно ?*/
  height: 299px; /*временно ?*/
  margin-top: 40px;/*временно ?*/
  margin-right: auto;
  margin-left: auto;

  background-color: rgba(240, 197, 46, 0.5);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container-upper-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  margin-bottom: 40px;
}

.search-form input{
  font-family: "OpenSans-Light", "Arial", sans-serif;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: 0.15px;
  
  background-color: inherit;
  border: none;

  cursor: pointer;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

.search-form input::-webkit-input-placeholder { /* Edge */
  color: rgba(0, 0, 0, 0.3); 
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3); 
}

.user-list, 
.cart-list {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: black;
  
  list-style: none;
}

.cart-list {
  display: flex;
  justify-content: space-between;
  width: 215px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  width: 226px;
}

.exit-item a{
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.main-list-services {
  display: flex;
  width: 500px;
}

.main-list-item-services:nth-child(2) {
  margin-left: 38px;
}
.main-list-item-services:nth-child(3) {
  margin-left: auto;
}

.main-list-catalog, 
.main-list-services {
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}
.main-list-item-catalog button {
  padding: 0;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.header-popup-list {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;

  list-style: none;
}

.header-popup-container {
  /* display: flex; */
  width: 1040px;
  height: 131px;

  margin-top: 30px;

  background-color: inherit;
}

.header-popup-list:nth-child(1) {
  margin-right: 58px;
}
.header-popup-list:nth-child(2) {
  margin-right: 77px;
}

/*главный слайдер*/
.slide-number {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  /* color: #ffffff; */ /*закоментировано чтобы был виден элемент*/
}

.slide-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: black;
}

.slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.promo-slide-toggle {
  list-style: none;
}

.promo-slide-toggle-button {
  position: relative;

  width: 12px;
  height: 12px;

  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 1px black; 
}
.promo-slide-toggle-button.current-toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  box-shadow: 0 0 0 1px black;
}

.slide-table-title {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: black;
}

.slide-table-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

/*раздел с названиями разделов сайта*/
.section-list {
  list-style: none;
}

.section-list-item a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

/*раздел сервисов*/
.service-section {
  background-color: #e5e5e5;

}

.service-list {
  list-style: none;
}

.service-list-item.active-service button{
  color: #f7e184;

  background-color: black;
}

.service-slide-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: black;
}

.service-slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

/*раздел с логотипами*/
.logo-list {
  list-style: none;
}

/*разделы: О нас, Контакты*/
.about p, 
.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.delivery-list {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: black;
}

.footer {
  background-color: #464646;
}

.address {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.footer-main-list {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}

.footer-main-list a {
  color: white;
}

.social-list {
  list-style: none;
}

.footer-user-list a, 
.footer-cart-list a{
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-list, 
.footer-cart-list {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);

  list-style: none;
}

.footer-exit-list a {
  color: rgba(255, 255, 255, 0.3);
}

.phone {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

/*inner.html*/
.breadcrumbs {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;

  list-style: none;
}

.breadcrumbs a, 
.breadcrumbs li {
  color: rgba(0, 0, 0, 0.3);
}

.filter {
  background-color: #ebebeb;
}
.filter-title,
.goods-picture-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: black;
}

.filter-title-wraper {
  background-color:#d9d9d9;
}

.filter-form {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}
.range-price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);

  text-align: center;
}

.filter-form ul {
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.title-form, 
.title-item {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

.goods-picture-title-wraper {
  background-color: #ebebeb;
}

.sorting-list,
.up-down-list {
  list-style: none;
}

.sorting-list-item button{
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.sorting-list-item.current button{
  color: black;
}

.up-down-list-item button{
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16;
  color: #464646;
}

.btn-compare {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;

  background: none;
}

.new {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 14px;
  align-self: center;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.pagination-wraper {
  background-color: #ebebeb;
}

.pagination-button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2;
  color: black;
  text-transform: uppercase;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.pagination-list {
  list-style: none;
}

.pagination-list-item a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item.current a {
  color: black;
}

/*hover and active effects*/
.user-list-item a:hover,
.user-list-item a:focus,
.cart-list-item a:hover,
.cart-list-item a:focus,
.main-list-item-services a:hover,
.main-list-item-services a:focus,
.main-list-item-catalog button:hover,
.main-list-item-catalog button:focus,
.header-popup-list-item a:hover,
.header-popup-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-list-item a:active,
.cart-list-item a:active,
.main-list-item-services a:active,
.main-list-item-catalog button:active,
.header-popup-list-item a:active,
.header-popup-list-item a:active {
  color: rgba(0, 0, 0, 0.3);
}