@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

*, *::before, *::after {
box-sizing: border-box;
}

.header-popup-container {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100%;
  background-color: #ffffff;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: black;
  text-align: center;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: none;
  
  cursor: pointer;
}

.index-container,
.inner-container {
  width: 1160px;
  margin: 0 auto;
}

.title-section, .title-page {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: black;
}

/*header*/
.index-container.index-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 299px;
  margin-top: 40px;

  background-color: rgba(240, 197, 46, 0.5);
}

.inner-container.inner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 186px;
  margin-top: 40px;

  background-color: rgba(240, 197, 46, 0.5);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-index-logo,
.header-inner-logo {
  align-self: flex-start;
  margin-left: 59px;
}

.header-container-upper-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  margin-bottom: 40px;
}

.search-form input{
  font-family: "OpenSans-Light", "Arial", sans-serif;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: 0.15px;
  
  background-color: inherit;
  border: none;

  cursor: pointer;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

.search-form input::-webkit-input-placeholder { /* Edge */
  color: rgba(0, 0, 0, 0.3); 
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3); 
}

.user-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 500px;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: black;
  
  list-style: none;
}

.user-list-item.compare {
  margin-left: auto;
}

.user-list-item.cart {
  margin-left: 41px;
}

.user-list-item.exit-item a{
  color: rgba(0, 0, 0, 0.3);
}

.user-list-item.enter-user {
  margin-right: 20px;
}

.main-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
}

.main-list-services {
  display: flex;
  width: 500px;
}

.main-list-item-services:nth-child(2) {
  margin-left: 38px;
}
.main-list-item-services:nth-child(3) {
  margin-left: auto;
}

.main-list-catalog, 
.main-list-services {
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}
.main-list-item-catalog button {
  padding: 0;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  
  cursor: pointer;
}

.header-popup-list {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;

  list-style: none;
}

.header-popup-container {
  display: flex;
  width: 1040px;
  height: 131px;

  margin-top: 30px;
}

.header-popup-list:nth-child(1) {
  margin-right: 58px;
}
.header-popup-list:nth-child(2) {
  margin-right: 77px;
}

/*главный слайдер*/
.promo-slide {
  display: flex;
  justify-content: space-around;
}

.promo-slide-row {
  display: flex;
  justify-content: space-between;
}

.promo-slide-decorative {
  width: 100px;
  height: 7px;
  background-color: red; /*чтобы был виден*/
}

.slide-number {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  /* color: #ffffff; */ /*закоментировано чтобы был виден элемент*/
}

.slide-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: black;
}

.slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.promo-slide-toggle {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slide-toggle-button {
  position: relative;

  width: 12px;
  height: 12px;

  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 1px black; 
}
.promo-slide-toggle-button.current-toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  box-shadow: 0 0 0 1px black;
}

.slide-table-title {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: black;
}

.slide-table-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

/*раздел с названиями разделов сайта*/
.section-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.section-list-item a {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

/*раздел сервисов*/
.index-container.index-service {
  display: flex;
}

.service-section {
  background-color: #e5e5e5;
}

.service-sliders-container {
  width: 876px;
}

.service-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  margin: 0;
  padding: 0;

  border-right: 7px solid black;
  list-style: none;
}

.service-list-item.active-service button{
  color: #f7e184;
  text-align: left;
  width: 100%;
  background-color: black;
}

.service-slide {
  margin-left: 117px;
}

.service-slide-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: black;
}

.service-slide-description {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

/*раздел с логотипами*/
.index-container.patners-logo {
  display: flex;
  justify-content: space-around;
}

/*разделы: О нас, Контакты*/
.about-contacts {
  display: flex;
  justify-content: space-between;
}

.about {
width: 462px;
}
.contacts {
  width: 560px;
}
.about p, 
.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.delivery-list {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: black;
}

/*footer*/
.footer {
  background-color: #464646;
  height: 323px;
}

.index-container.index-footer,
.inner-container.inner-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: inherit;
}

.footer-upper-row {
  display: flex;
}

.footer-device-logo, 
.footer-device-logo-inner {
  margin-right: auto;
}

.footer-user-list {
  display: flex;
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);

  list-style: none;
}

.footer-user-item:not(:last-child) {
  margin-right: 44px;
}

.footer-user-item.enter-user {
  margin-right: 20px;
}

.footer-user-list a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-item.exit-item a{
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.address {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.footer-main-list {
  display: flex;
  
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}

.footer-main-list-item:not(:last-child) {
  margin-right: 38px;
}

.footer-main-list a {
  color: white;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
}
.footer-decorative-block {
  width: 80px;
  height: 7px;

  background-color:#ffc600;
}

.phone {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: white;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-list-item:not(:last-child) {
  margin-right: 23px;
}

/*inner.html*/
.breadcrumbs {
  display: flex;
  width: 385px;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;

  list-style: none;
}

.breadcrumbs a, 
.breadcrumbs li {
  color: rgba(0, 0, 0, 0.3);
}

/*main content inner.html*/
.inner-columns {
  display: flex;
}

.inner-column-left, 
.inner-column-right {
  flex-grow: 1;
}

.inner-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ebebeb;
}

.inner-column-right {
  display: flex;
  flex-direction: column;
}

.column-left-upper-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 71px;
  margin-bottom: 69px;

  background-color: #d9d9d9;
}

.column-left-bottom-row{
  display: flex;
  margin-right: 69px;
}

.column-right-container {
  width: 761px;
}

.column-right-upper-row {
  display: flex;
  height: 71px;
  margin-bottom: 69px;

  background-color: #ebebeb;
}

.column-right-container.upper-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 73px;
}

.column-right-middle-row {
  display: flex;
}

.column-right-container.middle-row {
  margin-left: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-picture-item {
  width: 360px;
}

.column-right-bottom-row {
  display: flex;
  margin-bottom: 77px;
}

.column-right-container.bottom-row {
  display: flex;
  align-items: center;
  margin-left: 73px;
  height: 70px;
  background-color: #ebebeb;
}

.filter-title,
.goods-picture-title {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: black;
  text-transform: uppercase;
}

.filter-title {
  margin-right: 180px;
}

.filter-form {
  width: 200px;

  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.range-price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);

  text-align: center;
}

.filter-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.title-form, 
.title-item {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

.sorting-list,
.up-down-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list-item button{
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.sorting-list-item.current button{
  color: black;
}

.up-down-list-item button{
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.btn-compare {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;

  background: none;
}

.new {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 14px;
  align-self: center;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.pagination-container {
  margin: 0 30px;
  flex-grow: 1;
  display: flex;
}

.pagination-button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: black;
  text-transform: uppercase;

  cursor: pointer;
}

.pagination-button.back {
  margin-right: auto;
}

.pagination-button:nth-child(3) {
  margin: 0 31px;
}

.pagination-button.forward {
  margin-left: auto;
}

.pagination-button.current {
  color: black;
}

.pagination-button.no-current {
  color: rgba(0, 0, 0, 0.3);
}

/* hidden effect */
.hidden {
  display: none;
}

/*hover and active effects*/
.user-list-item a:hover,
.user-list-item a:focus,
.main-list-item-services a:hover,
.main-list-item-services a:focus,
.main-list-item-catalog button:hover,
.main-list-item-catalog button:focus,
.header-popup-list-item a:hover,
.header-popup-list-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-list-item a:active,
.main-list-item-services a:active,
.main-list-item-catalog button:active,
.header-popup-list-item a:active,
.header-popup-list-item a:active {
  color: rgba(0, 0, 0, 0.3);
}